html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("/1.jpg");
}

body {
  padding-top: 150px;
  
  background-size: cover; 
  background-repeat: no-repeat; 
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* flex: 1*/
}

footer {
  background-color: #0085B5;
  padding: 1rem;
  color: #fff;
  text-align: center;
}

/* NOT FOUND CENTRARE DESKTOP */
@media (min-width: 768px) {
  .row {
    justify-content: center; 
  }
}
/* ////////////////// */ 
@media (min-width: 768px) {
  .carousel-container {
      width: 678.3px; /* Larghezza fissa per desktop */
      height: 300px;   /* Altezza fissa per desktop */
      margin: 0 auto;  /* Centra il contenitore */
  }

  .carousel-item img {
      object-fit: cover; /* Mantiene le proporzioni delle immagini */
  }
}

/* ////////////////// */ 
/* ////////////////// */
/* CSS PER ACCENTRARE LE P ALLE IMMAGINI DEI PULSANTI IN BACHECA */
.text-no-underline {
  text-decoration: none;
}

.centered-text {
  line-height: 1.5;
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.table-container {
  padding: 20px;
  background-color: #F0F0F0;
  border-radius: 10px;
}

/*.titoloAccentrato {
   padding-left: 0px;
} */
/* ////////////////// */
/* ////////////////// */
/* CSS PER FORM DI CONTATTO */
.form-container {
 
  background: #B9D4F0;
  border: 3px solid #4caf50; /* Bordo verde */
  border-radius: 20px; /* Angoli curvi */
  padding: 20px; /* Spazio interno */
  max-width: 450px; /* Larghezza massima */
  margin: auto; /* Centrare la forma */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra */
}

.form-container .form-group {
  margin-bottom: 20px; /* Spazio tra i campi del modulo */
}

.form-container .form-label {
  color: #388e3c; /* Colore verde per le etichette */
}

.form-container .form-control {
  border: 1px solid #81c784; /* Bordo verde per i campi di input */
  border-radius: 10px; /* Angoli curvi per i campi di input */
}

.form-container .btn-primary {
  background-color: #388e3c; /* Colore del pulsante */
  border: none; /* Rimuove il bordo predefinito del pulsante */
  padding: 10px 20px; /* Aggiunge spazio interno al pulsante */
  border-radius: 10px; /* Angoli curvi per il pulsante */
}
/**/
/**(

/* ////////////////// */
/* ////////////////// */ 
/* ////////////////// */
/* ////////////////// */ 
/* ////////////////// */