html, body {
  height: 100%;
  margin: 0;
  background-image: url("/1.jpg");
}

body {
  padding-top: 250px;
  
  background-size: cover; 
  background-repeat: no-repeat; 
}

#root {
  flex: 1;
}

footer {
  background-color: #0085B5;
  padding: 1rem;
  color: #fff;
  text-align: center;
}

/* NOT FOUND CENTRARE DESKTOP */
@media (min-width: 768px) {
  .row {
    justify-content: center; 
  }
}
/* ////////////////// */ 
