body {
  margin: 0;
  padding: 0;
  font-family: 'Arial, sans-serif';
}

.home-body {
  padding-top: 150px;
}



#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #0085B5;
  padding: 1rem;
  color: #fff;
  text-align: center;
}

/* NOT FOUND CENTRARE DESKTOP */
@media (min-width: 768px) {
  .row {
    justify-content: center; 
  }
}
/* ////////////////// */ 
@media (min-width: 768px) {
  .carousel-container {
    width: 678.3px; /* Larghezza fissa per desktop */
    height: 300px;   /* Altezza fissa per desktop */
    margin: 0 auto;  /* Centra il contenitore */
  }

  .carousel-item img {
    object-fit: cover; /* Mantiene le proporzioni delle immagini */
  }
}




/* ////////////////// */ 
/* ////////////////// */
/* CSS PER ACCENTRARE LE P ALLE IMMAGINI DEI PULSANTI IN BACHECA */
/*.text-no-underline {
  text-decoration: none;
}

.centered-text {
  line-height: 1.5;
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.table-container {
  padding: 20px;
  background-color: #F0F0F0;
  border-radius: 10px;
}*/

/*.titoloAccentrato {
   padding-left: 0px;
} */
/* ////////////////// */
/* ////////////////// */
/* CSS PER FORM DI CONTATTO */

/**/
/**(

/* ////////////////// */
/* ////////////////// */ 
/* DROPDOWN RESPONSIVE E BELLO: */
/* Assicurarsi che il dropdown non superi la larghezza dello schermo */
/*.nav-dropdown-menu {
  position: absolute;
  transform: translateX(-50%);
  left: 50%; 
  top: 58px; 
}

@media (max-width: 768px) {
  .nav-dropdown-menu {
      width: 90%; 
  }
}

.dropdown-item {
  padding: 10px 15px; 
  white-space: nowrap; 
}*/
/* ////////////////// */
/* ////////////////// */ 

/* ////////////////// */
/* ////////////////// */ 
/* ////////////////// */
/* ////////////////// */
/* ////////////////// */ 
/* ////////////////// */