.artigianali-main-content {
  padding: 120px 20px 20px 20px; 
}

.artigianali-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
}

.artigianali-product-row {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.artigianali-product-image-col {
  flex: 1;
  max-width: 200px;
}

.artigianali-product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.artigianali-product-details {
  flex: 2;
  padding: 10px;
}

.artigianali-product-title {
  font-size: 1.5em;
  font-weight: bold;
}

.artigianali-product-description {
  font-size: 1em;
  margin-bottom: 10px;
}

.artigianali-add-to-cart-button {
  margin-right: 10px;
}

.artigianali-info-icon {
  cursor: pointer;
  margin-left: 10px;
  font-size: 1.5em;
}

.artigianali-cart-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 2em;
  cursor: pointer;
  color: #007bff;
}

.artigianali-product-image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .artigianali-product-row {
    flex-direction: column;
  }

  .artigianali-product-image-col, .artigianali-product-details {
    max-width: 100%;
  }
}

  
  
  