.navbar-brand img {
    border-radius: 50%;
    border: 2px solid white;
  }
  
  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .nav-link:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .nav-text {
    font-size: 12px;
  }
  
  .nav-link.active .nav-text,
  .nav-link.active svg {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .btn-outline-light {
    border-color: white;
    color: white;
    margin-right: 10px;
    border-radius: 20px;
  }
  
  .btn-outline-light:hover {
    background-color: white;
    color: #0085B5;
  }
  
  .btn-warning {
    background-color: #ff9f1a;
    border-color: #ff9f1a;
    color: black;
    margin-right: 10px;
    border-radius: 20px;
  }
  
  .btn-warning:hover {
    background-color: #ffa31a;
    border-color: #ffa31a;
    color: black;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  .dropdown-menu {
    background-color: #333;
    border: none;
    border-radius: 8px;
  }
  
  .dropdown-item {
    color: white;
  }
  
  .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
  }
  
  .image-round {
    border-radius: 50%;
    border: 2px solid white;
  }
  
  @media (max-width: 768px) {
    .btn-outline-light, .btn-warning {
      width: 100%;
      margin-bottom: 10px;
      border-radius: 20px;
    }
  }
  
  
  
  

  