.notification-icon {
  position: relative;
  display: inline-block;
}

.notification-icon img {
  width: 24px;
  height: 24px;
}

.badge {
  position: absolute;
  top: -5px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 12px;
}

.notifiche-container {
  margin-top: 20px;
}

.notifiche-header {
  margin-bottom: 20px;
}

.notifiche-table {
  width: 100%;
}