.notifiche-container {
  margin-top: 40px; /* Aggiunge più spazio sopra la sezione notifiche */
  margin-bottom:150px;
}

.notifiche-header {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.notifiche-didascalia {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 40px; /* Aggiunge più spazio tra la navbar e la didascalia */
}

.notifiche-logo {
  width: 40px; /* Regola la dimensione del logo */
  height: 40px; /* Regola la dimensione del logo */
  margin-right: 10px;
}

.notifiche-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.notifica-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  flex-wrap: wrap; /* Consente di avvolgere il contenuto nella versione mobile */
}

.notifica-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid #007bff;
}

.notifica-content {
  flex: 1;
}

.notifica-content p {
  margin: 0 0 5px;
  font-size: 16px;
}

.notifica-content a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.notifica-content a:hover {
  text-decoration: underline;
}

.notifica-timestamp {
  text-align: right;
  font-size: 12px;
  color: #888;
}

.no-notifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.no-notifications img {
  max-width: 300px;
  margin-bottom: 20px;
}

.no-notifications p {
  font-size: 1.2em;
  color: #555;
}

@media (max-width: 768px) {
  .notifica-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .notifica-timestamp {
    text-align: left;
    margin-top: 10px; /* Aggiunge un margine per separare la data dal contenuto */
  }
}

.cartoon-font {
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  font-size: 1.2em;
  color: #3b873e; 
}

.mark-all-as-read-btn {
  margin-left: 20px;
  padding: 5px 10px;
  background-color: #3b873e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mark-all-as-read-btn:hover {
  background-color: #2e6d2e;
}




