body.Prodotti {
  margin: 0;
  padding: 0;
}

.prodotti-page-container {
  margin-top: 140px !important; /* Aumenta la spaziatura superiore per evitare la sovrapposizione con la navbar */
  padding-top: 20px;
  padding-bottom: 20px;
}

.prodotti-page-titolo {
  font-size: 1.8rem; /* Riduci la dimensione del titolo */
  font-weight: bold;
  color: #2c3e50;
}

.prodotti-page-descrizione {
  font-size: 0.9rem; /* Riduci la dimensione del testo */
  color: #34495e;
  margin-top: 1rem;
}

.prodotti-page-immagine {
  border: 2px solid #34495e;
  width: 100%; /* Assicurati che l'immagine sia reattiva */
  height: auto;
}

.prodotti-page-tabella {
  background-color: #f8f9fa;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.prodotti-page-tabella thead {
  background-color: #2c3e50;
  color: white;
}

.prodotti-page-tabella td {
  padding: 0.5rem; /* Riduci il padding delle celle */
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

.prodotti-page-bottone {
  margin-top: 0.3rem; /* Riduci il margine superiore dei bottoni */
}

.prodotti-page-icon {
  font-size: 1rem; /* Riduci la dimensione delle icone */
  margin-right: 5px;
}

.prodotti-page-descrizione {
  font-size: 1rem; /* Riduci la dimensione del testo delle descrizioni */
  font-weight: bold;
}

.prodotti-page-sticky-header {
  position: sticky;
  top: 0;
  background-color: #2c3e50;
  z-index: 1;
}

.prodotti-page-text-success .prodotti-page-icon,
.prodotti-page-text-success .prodotti-page-descrizione {
  color: green;
}

.prodotti-page-text-warning .prodotti-page-icon,
.prodotti-page-text-warning .prodotti-page-descrizione {
  color: yellow;
}

.prodotti-page-text-primary .prodotti-page-icon,
.prodotti-page-text-primary .prodotti-page-descrizione {
  color: blue;
}

.prodotti-page-text-secondary .prodotti-page-icon,
.prodotti-page-text-secondary .prodotti-page-descrizione {
  color: grey;
}

@media (max-width: 768px) {
  .prodotti-page-container {
    margin-top: 120px; /* Regola la spaziatura per la versione mobile */
    padding: 0 10px; /* Aggiungi padding laterale per evitare overflow */
  }

  .prodotti-page-titolo {
    font-size: 0.8rem; /* Riduci la dimensione del titolo per dispositivi mobili */
  }

  .prodotti-page-descrizione {
    font-size: 0.5rem; /* Riduci la dimensione del testo per dispositivi mobili */
  }

  .prodotti-page-tabella td {
    padding: 0.1rem; /* Riduci ulteriormente il padding delle celle */
  }

  .prodotti-page-bottone {
    margin-top: 0.1rem; /* Riduci ulteriormente il margine superiore dei bottoni */
  }

  .prodotti-page-icon {
    font-size: 0.5rem; /* Riduci ulteriormente la dimensione delle icone */
  }

  .prodotti-page-descrizione {
    font-size: 0.5rem; /* Riduci ulteriormente la dimensione del testo delle descrizioni */
  }
}

@media (min-width: 768px) {
  .prodotti-page-tabella {
    width: 80%; /* Riduci la larghezza della tabella nella versione desktop */
    margin: 0 auto; /* Centra la tabella */
  }

  .prodotti-page-tabella td {
    padding: 1rem; /* Mantieni il padding delle celle per desktop */
  }

  .prodotti-page-tabella h4 {
    font-size: 1.2rem; /* Mantieni la dimensione del testo nelle celle per desktop */
  }

  .prodotti-page-icon {
    font-size: 1.2rem; /* Mantieni la dimensione delle icone per desktop */
  }

  .prodotti-page-descrizione {
    font-size: 1.2rem; /* Mantieni la dimensione del testo delle descrizioni per desktop */
  }
}








  
  