/* ProfilePage.css */
.profile-page {
    max-width: 900px;
    margin: auto;
    margin-top: 150px !important; 
  }
  
  .profile-page h2,
  .profile-page h3 {
    color: #0085b5;
  }
  
  .profile-page .form-label {
    font-weight: bold;
  }
  
  .profile-page .form-control {
    border-radius: 10px;
  }
  
  .profile-page .btn-primary {
    background-color: #0044cc;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
  }
  
  .profile-page .btn-primary:hover {
    background-color: #0033a0;
  }
  
  .user-details {
    margin-bottom: 20px;
  }
  